<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>TaskManager</title>
    <meta charset="utf-8">
</head>

<body>
<div>
<h1>Share with</h1>
</div>
<form id = "shareProjectForm"
      th:action="@{'/projects/share/' + ${projectForm.Id}}"
      method="POST">

    <table>
        <tr>
            <td><label for="userNameInput">Username:</label>
            <td><input id=userNameInput type="text" th:field="${credentialsForm.userName}" placeholder="USERNAME" required/></td>
            <td th:if="${#fields.hasErrors('credentialsForm.userName')}" th:errors="${credentialsForm.userName}" th:style="'color:red'"></td>
        </tr>
    </table>
    <button class="button" type="submit">SHARE</button>
</form>
	<footer>
		<h4><a th:href="@{/home}">Home</a></h4>
	</footer>
</body>
</html>