<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
	<title>TaskManager</title>
</head>

<body>
<h1>Your Profile</h1>
	<table>
	<tr><td>Username</td><td th:text="${credentials.userName}">...</td></tr>
	<tr><td>First Name</td><td th:text="${loggedUser.firstName}">...</td></tr>
	<tr><td>Last Name</td><td th:text="${loggedUser.lastName}">...</td></tr>
	<tr><td>Role</td><td th:text="${credentials.role}">...</td></tr>
	<tr><td>Registered at: </td><td th:text="${loggedUser.creationTimeStamp}">...</td></tr>
	<tr><td>Last Update at: </td><td th:text="${loggedUser.lastUpdateTimeStamp}">...</td></tr>
	</table>
	<a href="/users/update"><button class="button2">EDIT PROFILE</button></a>
	<footer>
		<h4><a th:href="@{/home}">Home</a></h4>
	</footer>
</body>
</html>